<div class="content">
  <span class="label">{{localize "POLO.SequencePicker"}}</span>
  <div class="links">
    {{#each sequence as |link idx|}}
    <div class="link">
      <img src="{{link.img}}" data-idx="{{idx}}" {{#unless link.point}} class="inactive" {{/unless}}>
      {{#if link.point}}<div class="point">({{link.point.x}}, {{link.point.y}})</div>{{/if}}
    </div>
    {{/each}}
  </div>
  <button data-action="submit">
    <i class="fa-solid fa-check"></i> {{localize "POLO.AllGucci"}}
  </button>
</div>
